<for each="module" in="data">
declare module {+module.name+} { 
  <for each="cls" in="module.classes">
  export class {+cls.name+} <if test="cls.inheritsFrom">extends {+ cls.inheritsFrom +} </if> { 
  <if test="cls.properties.length">
    <for each="property" in="cls.properties">
      <if test="property.isStatic">static </if>{+property.name+}<if test="property.type">: {+property.type+}</if>;</for></if>
  <if test="cls.methods.length"><for each="method" in="cls.methods">
      <if test="method.isStatic">static </if>{+method.name+}{+makeSignature(method.params)+}<if test="method.returnType">: {+method.returnType+}</if>;</for>
  </if>}
</for>
}
</for>