<div class="body-wrap">
    <div class="top-tools">
        <a class="inner-link" href="#Ext.data.DataProxy-props"><img src="resources/s.gif" class="item-icon icon-prop">Properties</a>
        <a class="inner-link" href="#Ext.data.DataProxy-methods"><img src="resources/s.gif" class="item-icon icon-method">Methods</a>
        <a class="inner-link" href="#Ext.data.DataProxy-events"><img src="resources/s.gif" class="item-icon icon-event">Events</a>
        <a class="inner-link" href="#Ext.data.DataProxy-configs"><img src="resources/s.gif" class="item-icon icon-config">Config Options</a>
        <a class="bookmark" href="../docs/?class=Ext.data.DataProxy"><img src="resources/s.gif" class="item-icon icon-fav">Direct Link</a>
    </div>
    
    <div class="inheritance res-block">
        <pre class="res-block-inner">
            <a ext:cls="Ext.util.Observable" ext:member="" href="output/Ext.util.Observable.html">Observable</a>
            <img src="resources/elbow-end.gif"/>DataProxy
        </pre>
    </div>
    <h1>Class {[values.get("alias")]}</h1>
    <table cellspacing="0">
        <tr><td class="label">Package:</td><td class="hd-info">{[this.getPackageName(values.get("alias"))]}</td></tr>
        <tr><td class="label">Defined In:</td><td class="hd-info">{[values.get("srcFile")]}</td></tr>
        <tr><td class="label">Class:</td><td class="hd-info">{[this.getClassName(values.get("alias"))]}</td></tr>
        <tr><td class="label">Subclasses:</td><td class="hd-info">this could be figured out</td></tr>
        <tr><td class="label">Extends:</td><td class="hd-info"><a ext:cls="Ext.util.Observable" ext:member="" href="">{[values.get("augments")]}</a></td></tr>
    </table>
    
    <div class="description">
                
    </div>
    
    <div class="hr"></div>
    <a id="Ext.data.DataProxy-configs"></a>
    <h2>Config Options</h2>
    <table cellspacing="0" class="member-table">
        <tr>
            <th class="sig-header" colspan="2">Config Options</th>
            <th class="msource-header">Defined By</th>
        </tr>
        
        
        
        <tr class="config-row inherited expandable">
            <td class="micon"><a class="exi" href="#expand">&nbsp;</a></td>
            <td class="sig">
                <a id="Ext.data.DataProxy-listeners"></a>
                <b>listeners</b> : Object            <div class="mdesc">
                <div class="short">A config object containing one or more event handlers to be added to this object during initialization. This should b...</div>
                <div class="long">
                    A config object containing one or more event handlers to be added to this object during initialization. This should be a valid listeners config object as specified in the <a ext:cls="Ext.util.Observable" ext:member="addListener" href="output/Ext.util.Observable.html#addListener">addListener</a> example for attaching multiple handlers at once.            </div>
                </div>
            </td>
            <td class="msource"><a ext:cls="Ext.util.Observable" ext:member="#listeners" href="output/Ext.util.Observable.html#listeners">Observable</a></td>
        </tr>
    </table>
    <a id="Ext.data.DataProxy-props"></a>      
    <h2>Public Properties</h2>
    
</div>