<div id="{+ data.id +}" class="member">
<div class="member-link">
<a name="{+ data.id +}" href="#{+ data.id +}"><tt>{+ data.title +}</tt></a>
</div>
<div class="member-description hidden">
<for each="operator" in="data.operators">
{+ Render.operator(operator, data.id) +}
</for>
</div>
</div>
