<if test="data.symbol.type">
	<div class="member-text">
		{+ data.description +}
		{+ Render.parameters(data.symbol) +}
		{+ Render.returns(data.symbol) +}
		{+ Render.seeAlsos(data.symbol) +}
		{+ Render.examples(data.symbol.example) +}
	</div>
</if>